@model IEnumerable<VetManager.Models.Doctor>

@{
    ViewData["Title"] = "Médicos";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<a href="/Doctor/Create" class="btn btn-success mb-3">
    Cadastrar médico
</a>

@if (Model.Count() == 0)
{
    <p>Nenhum médico cadastrado.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Especialidade</th>
                <th scope="col">CPF</th>
                <th scope="col">Telefone</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var doctor in Model)
            {
                <tr>
                    <th scope="row">@doctor.Id</th>
                    <td>@doctor.Name</td>
                    <td>@doctor.Speciality</td>
                    <td>@doctor.FormattedCpf</td>
                    <td>@doctor.Telephone</td>
                    <td>
                        <a href="/Doctor/Show/@doctor.Id" class="btn btn-outline-dark">
                            Detalhes
                        </a>
                    </td>
                    <td>
                        <a href="/Doctor/Update/@doctor.Id" class="btn btn-outline-primary">
                            Atualizar
                        </a>
                    </td>
                    <td>
                        <a href="/Doctor/Delete/@doctor.Id" class="btn btn-danger">
                            Remover
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (TempData["MessageSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
        @TempData["MessageSuccess"]<button type="button" class="btn-close" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>
}
@if (TempData["MessageError"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
        @TempData["MessageError"]<button type="button" class="btn-close" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>
}