@model VetManager.Models.Procedure

@{
    ViewData["Title"] = $"Atualizar procedimento {@Model.Id}";
}

<a href="/Procedure/Index" class="btn btn-light">< Voltar</a>

<h1 class="mb-3">@ViewData["Title"]</h1>
<p class="mb-4">Utilize o formulário abaixo para atualizar o procedimento @Model.Id.</p>

<form action="/Procedure/Save" method="post" class="row g-3">
    <div class="col-md-2">
        <label for="id" class="form-label">ID</label>
        <input type="text" class="form-control" name="id" id="id" required readonly value="@Model.Id">
    </div>
    <div class="col-md-2">
        <label for="patientId" class="form-label">ID do paciente</label>
        <input type="text" class="form-control" name="patientId" id="patientId" required value="@Model.PatientId">
    </div>
    <div class="col-md-2">
        <label for="doctorId" class="form-label">ID do médico</label>
        <input type="text" class="form-control" name="doctorId" id="doctorId" required value="@Model.DoctorId">
    </div>
    <div class="col-md-2">
        <label for="hospitalId" class="form-label">ID do hospital</label>
        <input type="text" class="form-control" name="hospitalId" id="hospitalId" required value="@Model.HospitalId">
    </div>
    <div class="col-md-3">
        <label for="dateTime" class="form-label">Data</label>
        <input type="datetime-local" class="form-control" name="dateTime" id="dateTime" required value="@Model.FormattedDateTime">
    </div>
    <div class="col-md-3">
        <label for="type" class="form-label">Tipo</label>
        <input type="text" class="form-control" name="type" id="type" required value="@Model.Type">
    </div>
    <div class="col-md-8">
        <label for="description" class="form-label">Descrição</label>
        <input type="text" class="form-control" name="description" id="description" value="@Model.Description">
    </div>
    <div class="col-12 mt-4">
        <button type="submit" class="btn btn-outline-dark">Salvar</button>
    </div>
</form>

@if(TempData["MessageError"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
        @TempData["MessageError"]<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}