@model VetManager.Models.Patient

@{
    ViewData["Title"] = $"Patient {Model.Name}";
   var tutor = ViewData["Tutor"] as Tutor;
}

<a href="/Patient/Index" class="btn btn-light">< Voltar</a>

<h1 class="mb-4">@ViewData["Title"]</h1>

<p><strong>ID:</strong> @Model.Id</p>
<p><strong>Nome do paciente:</strong> @Model.Name</p>
<p><strong>Data de Nascimento:</strong> @Model.BirthDateBrString</p>
<p><strong>Idade:</strong> @Model.GetAge()</p>
<p><strong>Espécie:</strong> @Model.Species</p>
<p><strong>Tipo sanguíneo:</strong> @Model.BloodType</p>
<p><strong>Tutor:</strong> @tutor.Name | CPF: @tutor.Cpf | Telefone: @tutor.Telephone | ID do endereço: @tutor.AddressId</p>
<p><strong>ID do tutor:</strong> @Model.TutorId</p>


<a href="/Patient/Update/@Model.Id" class="btn btn-outline-primary mt-2">
    Atualizar
</a>

<a href="/Patient/Delete/@Model.Id" class="btn btn-danger ms-3 mt-2">
    Remover
</a>

@if (TempData["MessageSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
        @TempData["MessageSuccess"]<button type="button" class="btn-close" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>
}