@model VetManager.Models.Tutor

@{
    ViewData["Title"] = $"Tutor {Model.Name}";
   var address = ViewData["Address"] as Address;
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<p><strong>ID:</strong> @Model.Id</p>
<p><strong>Nome do tutor:</strong> @Model.Name</p>
<p><strong>CPF:</strong> @Model.Cpf</p>
<p><strong>Endereço:</strong> @address.Street, @address.Number - @address.District, @address.City - @address.ZipCode.</p>
<p><strong>Telefone:</strong> @Model.Telephone</p>

<a href="/Tutor/Update/@Model.Id" class="btn btn-outline-dark mt-2">
    Atualizar
</a>

<a href="/Tutor/Delete/@Model.Id" class="btn btn-outline-dark ms-3 mt-2">
    Remover
</a>

@if (TempData["MessageSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
        @TempData["MessageSuccess"]<button type="button" class="btn-close" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>
}