@model VetManager.Models.Tutor

@{
    ViewData["Title"] = $"Atualizar tutor {@Model.Id}";
}

<h1 class="mb-3">@ViewData["Title"]</h1>
<p class="mb-4">Utilize o formulário abaixo para atualizar o tutor @Model.Id.</p>

<form action="/Tutor/Save" method="post" class="row g-3">
    <div class="col-md-2">
        <label for="id" class="form-label">ID</label>
        <input type="text" class="form-control" name="id" id="id" value="@Model.Id" readonly>
    </div>
    <div class="col-md-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" name="name" id="name" value="@Model.Name" required>
    </div>
    <div class="col-md-5">
        <label for="cpf" class="form-label">CPF</label>
        <input type="text" class="form-control" name="cpf" id="cpf" value="@Model.Cpf" required>
    </div>
    <div class="col-md-2">
        <label for="addressId" class="form-label">Endereço Id</label>
        <input type="text" class="form-control" name="addressId" id="addressId" value="@Model.AddressId" required>
    </div>
    <div class="col-md-4">
        <label for="telephone" class="form-label">Telefone</label>
        <input type="text" class="form-control" name="telephone" id="telephone" value="@Model.Telephone" required>
    </div>
    <div class="col-12 mt-4">
        <button type="submit" class="btn btn-outline-dark">Salvar</button>
    </div>
</form>