@model IEnumerable<VetManager.Models.Address>

@{
    ViewData["Title"] = "Endereços";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<a href="/Address/Create" class="btn btn-outline-dark mb-3">
    Cadastrar endereço
</a>

@if (Model.Count() == 0)
{
    <p>Nenhum endereço cadastrado.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">CEP</th>
                <th scope="col">Rua</th>
                <th scope="col">Número</th>
                <th scope="col">Bairro</th>
                <th scope="col">Cidade</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var address in Model)
            {
                <tr>
                    <th scope="row">@address.Id</th>
                    <td>@address.ZipCode</td>
                    <td>@address.Street</td>
                    <td>@address.Number</td>
                    <td>@address.District</td>
                    <td>@address.City</td>
                    <td>@address.State</td>
                    <td>
                        <a href="/Address/Update/@address.Id" class="btn btn-outline-dark">
                            Atualizar
                        </a>
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

@if(TempData["MessageSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
        @TempData["MessageSuccess"]<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if(TempData["MessageError"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
        @TempData["MessageError"]<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}